.admin {
    height: 100vh;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.error {
    margin: 0;
    color: #cc0000;
}

.addBlock {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.addTitle {
    text-align: center;
    margin-top: 0;
}

.drops {
    width: 60%;
    float: right;
    padding: 0 20px;
}